main:has(iframe.attributions-frame) {
    padding: 1rem 2rem !important;
}

iframe.attributions-frame {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
