painted-content {
    & blockquote:not(:has(.human-card)) {
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 2rem 0;
        scroll-margin-top: calc(var(--top-margin) + 3rem);

        & > p {
            text-align: center;
            margin: 0;

            &:has(img) {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            & > img {
                max-height: 15rem;
                margin: 0 1rem;
            }
        }

        &.full > p:has(img) {
            width: 100%;

            & > img {
                width: 100%;
                height: auto;
                max-height: initial;
                object-fit: cover;
            }
        }
    }
}
