@font-face {
    /* https: //fonts.google.com/specimen/Baloo+2 */
    font-family: 'Baloo 2';
    src: url('/assets/fonts/Baloo2.woff2');
}

@font-face {
    /* stolen from Microsoft built-in fonts */
    font-family: 'Segoe UI Emoji';
    src: url('/assets/fonts/Segoe\ UI\ Emoji\ Flat.woff2');
}

