@import 'font.css';

footer {
    --footer-background-color: var(#ead6a3);
    background-color: #efe5cb;
    height: 25%;

    & .footer-text {
        font-family: montserrat;
        font-weight: 500;
        color: #3c240a;
        font-weight: 500;
        font-size: 15px;
    }

    & > .footer-banner {
        display: grid;
        grid-template-columns: 1fr 3fr;

        & > .resisense {
            display: flex;
            flex-direction: column;
            margin: 2rem 3rem;
            border-right: 2px solid #404231;
            gap: 0.5rem;

            & > .resisense-logo {
                display: flex;
                flex-direction: column;
                margin-right: 4rem;

                & > .resisense-logo-pic {
                    height: 90px;
                }
            }

            & > .socials {
                display: flex;
                margin-right: 4rem;
                flex-direction: column;
                justify-content: left;
                align-items: center;

                & .footer-text {
                    letter-spacing: 3px;
                }

                & img {
                    height: 1rem;
                    position: relative;
                    top: 0.1rem;
                    margin-right: 0.3rem;
                }

                & > .instagram {
                    position: relative;
                    right: 17%;
                    margin-bottom: 0.3rem;

                    & img {
                        height: 1.1rem;
                    }
                }

                & > .email {
                    position: relative;
                    left: 1.8%;
                }
            }
        }

        & > .logo-container-wrapper {
            display: flex;
            flex-direction: column;
            margin: 2rem 3rem;
            gap: 0.5rem;
            x & > .cuhk-department-logo-container {
                display: flex;
                gap: 1rem;
            }

            & > .sponsor-logo-container {
                display: flex;
                gap: 1rem;
            }

            & img {
                height: 40px;
            }

            & > .license-container {
                & img {
                    height: 20px;
                }
            }
        }
    }
}
