/* Probably don't include this file, just use it as reference is fine? */

:root {
    --white: #fcfcf7;

    --pale-green: #d4dbb1;
    --light-green: #aeb992;
    --dark-green: #4c523a;
    --deep-green: #40422f;

    --bright-brown: #f4e2c9;
    --pale-brown: #b49a7f;

    --desaturated-orange: #f2d49b;
    --saturated-orange: #f3922d;
}
