@media screen and (max-width: 1100px) {
    painted-outline {
        display: none;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 2px dashed var(--pale-green);
    border-radius: 1rem;
    padding: 0.8rem 0.5rem;
    --line-height: 1.2rem;

    &>.outline {
        --list-indentation: 0.5rem;
        --border-left-offset: 1rem;
        display: flex;
        flex-direction: column;

        ul {
            padding: 0;
            margin-left: var(--list-indentation);
            line-height: var(--line-height);
        }

        &>#outline-tree {
            margin: 0;
            padding: 0;

            &>li::before,
            &>li::after {
                display: none;
            }

            li {
                list-style-type: disc;
                list-style-position: inside;
                margin: 0 0 0 10px;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: calc(var(--border-left-offset) * -1);
                    border-left: 2px solid var(--pale-green);
                    border-bottom: 2px solid var(--pale-green);
                    width: calc(var(--list-indentation) + var(--border-left-offset) / 4);
                    height: 12px;
                    border-bottom-left-radius: 5px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: calc(var(--border-left-offset) * -1);
                    border-left: 2px solid var(--pale-green);
                    width: var(--list-indentation);
                    height: 100%;
                }

                &:last-child:after {
                    display: none;
                }

                &::marker {
                    color: var(--light-green);
                }

                &>a {
                    color: var(--light-green);
                    position: relative;
                    left: -0.5rem;
                    white-space: nowrap;
                    font-size: 1rem;
                }
            }
        }
    }

    &>#outline-progress-pointer {
        width: 0;
        position: relative;
        left: 2px;
        line-height: var(--line-height);
        z-index: 1;
        pointer-events: none;
    }
}