#parallax-doodle-container {
    transition: none;
    pointer-events: none;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    overflow: visible;
    position: fixed;
    animation: scroll-up linear forwards;
    animation-timeline: scroll();

    & > * {
        font-size: 10rem;
        font-weight: bolder;
        height: 10rem;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        overflow: visible;
        position: absolute;
        animation: linear forwards;
        animation-timeline: scroll();
        opacity: 0.2;

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }
}

@keyframes scroll-up {
    to {
        translate: 0 -100%;
    }
}
@keyframes parallax-doodle-yfhoz2 {
    to {
        transform: translateY(-110.84599957985589px);
    }
}

@keyframes parallax-doodle-oe030d {
    to {
        transform: translateY(-170.83274771671228px);
    }
}

@keyframes parallax-doodle-k8btz8 {
    to {
        transform: translateY(-178.1768167434416px);
    }
}

@keyframes parallax-doodle-04s4wb {
    to {
        transform: translateY(-124.5014146881317px);
    }
}

@keyframes parallax-doodle-st4vd5 {
    to {
        transform: translateY(-169.55713735122447px);
    }
}

@keyframes parallax-doodle-jdovjx {
    to {
        transform: translateY(-181.22214802687395px);
    }
}

@keyframes parallax-doodle-b4ytnc {
    to {
        transform: translateY(-280.0426806710469px);
    }
}

@keyframes parallax-doodle-h5ptk5 {
    to {
        transform: translateY(-222.12938264389751px);
    }
}

@keyframes parallax-doodle-lk7u6u {
    to {
        transform: translateY(-156.44362137631688px);
    }
}

@keyframes parallax-doodle-h4veve {
    to {
        transform: translateY(-185.09459610729454px);
    }
}

@keyframes parallax-doodle-y6faqq {
    to {
        transform: translateY(-137.00612888807382px);
    }
}

@keyframes parallax-doodle-l3syyhh {
    to {
        transform: translateY(-1563.1208227385018px);
    }
}

@keyframes parallax-doodle-nono1 {
    to {
        transform: translateY(-1092.0366010355513px);
    }
}

@keyframes parallax-doodle-mcscfl {
    to {
        transform: translateY(-2002.4919914953007px);
    }
}

@keyframes parallax-doodle-v24q2t {
    to {
        transform: translateY(-1578.4319928669606px);
    }
}

@keyframes parallax-doodle-cvwuxp {
    to {
        transform: translateY(-2046.4547515103209px);
    }
}

@keyframes parallax-doodle-4sp0z1 {
    to {
        transform: translateY(-1852.50473244789px);
    }
}

@keyframes parallax-doodle-yiwx4 {
    to {
        transform: translateY(-879.9551603017601px);
    }
}

@keyframes parallax-doodle-u0m52 {
    to {
        transform: translateY(-1102.1306334406695px);
    }
}

@keyframes parallax-doodle-a0o8no {
    to {
        transform: translateY(-770.5441589141233px);
    }
}

@keyframes parallax-doodle-3enzni {
    to {
        transform: translateY(-993.0137837502143px);
    }
}

@keyframes parallax-doodle-qa5gvu {
    to {
        transform: translateY(-1812.0430015860272px);
    }
}

@keyframes parallax-doodle-5g20s {
    to {
        transform: translateY(-862.5661040654556px);
    }
}

@keyframes parallax-doodle-c6zt23 {
    to {
        transform: translateY(-1313.8243354401502px);
    }
}

@keyframes parallax-doodle-nqca1 {
    to {
        transform: translateY(-1260.5038078535192px);
    }
}

@keyframes parallax-doodle-xn3ve {
    to {
        transform: translateY(-997.0559613875294px);
    }
}

@keyframes parallax-doodle-lbm4v {
    to {
        transform: translateY(-1176.0895617347269px);
    }
}

@keyframes parallax-doodle-f4vrvs {
    to {
        transform: translateY(-1742.7356639152197px);
    }
}

@keyframes parallax-doodle-ixzon {
    to {
        transform: translateY(-1264.7899847013846px);
    }
}

@keyframes parallax-doodle-5mao3 {
    to {
        transform: translateY(-1233.4765551288767px);
    }
}

@keyframes parallax-doodle-53wy3e {
    to {
        transform: translateY(-1251.200255956573px);
    }
}

@keyframes parallax-doodle-5jeawn {
    to {
        transform: translateY(-1742.398266864155px);
    }
}

@keyframes parallax-doodle-ji9yqro {
    to {
        transform: translateY(-1388.2411588582202px);
    }
}

@keyframes parallax-doodle-2lj9 {
    to {
        transform: translateY(-1188.1042753809124px);
    }
}

@keyframes parallax-doodle-0cutvn {
    to {
        transform: translateY(-1633.1018595062133px);
    }
}

@keyframes parallax-doodle-pmzdhs {
    to {
        transform: translateY(-1412.8701482854617px);
    }
}

@keyframes parallax-doodle-s5e27 {
    to {
        transform: translateY(-1165.824069400231px);
    }
}

@keyframes parallax-doodle-jc0onl {
    to {
        transform: translateY(-808.0302327042978px);
    }
}

@keyframes parallax-doodle-rj8zw {
    to {
        transform: translateY(-1032.0618948228166px);
    }
}

@keyframes parallax-doodle-hsu9lp {
    to {
        transform: translateY(-1788.2804741326247px);
    }
}

@keyframes parallax-doodle-o8d1yp {
    to {
        transform: translateY(-1651.1162601229248px);
    }
}

@keyframes parallax-doodle-va2 {
    to {
        transform: translateY(-1144.5327903993061px);
    }
}

@keyframes parallax-doodle-w5id5n {
    to {
        transform: translateY(-658.3984244928959px);
    }
}

@keyframes parallax-doodle-zf8hqf {
    to {
        transform: translateY(-971.5490394371211px);
    }
}

@keyframes parallax-doodle-xswoqc {
    to {
        transform: translateY(-3635.9822059970684px);
    }
}

@keyframes parallax-doodle-zztok8 {
    to {
        transform: translateY(-5164.881944339961px);
    }
}

@keyframes parallax-doodle-f29tx2 {
    to {
        transform: translateY(-3016.2163722381097px);
    }
}

@keyframes parallax-doodle-sosrsy {
    to {
        transform: translateY(-4099.330090210638px);
    }
}

@keyframes parallax-doodle-38cziw {
    to {
        transform: translateY(-4081.853464339911px);
    }
}

@keyframes parallax-doodle-0obzrs {
    to {
        transform: translateY(-6207.016218191037px);
    }
}

@keyframes parallax-doodle-oq9yvx {
    to {
        transform: translateY(-3029.8647275787553px);
    }
}

@keyframes parallax-doodle-40scry {
    to {
        transform: translateY(-2354.0486973139314px);
    }
}

@keyframes parallax-doodle-qqu912 {
    to {
        transform: translateY(-2645.18575843544px);
    }
}

@keyframes parallax-doodle-wm35pl {
    to {
        transform: translateY(-6091.984495317823px);
    }
}

@keyframes parallax-doodle-dwx7pf {
    to {
        transform: translateY(-2658.085946384538px);
    }
}

@keyframes parallax-doodle-a31esy {
    to {
        transform: translateY(-2531.722438366389px);
    }
}

@keyframes parallax-doodle-31u05c {
    to {
        transform: translateY(-2838.7323184784186px);
    }
}

@keyframes parallax-doodle-hm8fj2 {
    to {
        transform: translateY(-2937.71025414988px);
    }
}

@keyframes parallax-doodle-a4muxo {
    to {
        transform: translateY(-6450.489414625117px);
    }
}

@keyframes parallax-doodle-5d1ucg {
    to {
        transform: translateY(-4713.170639629054px);
    }
}

@keyframes parallax-doodle-quqkn5 {
    to {
        transform: translateY(-4001.3061311264896px);
    }
}

@keyframes parallax-doodle-n72rr5 {
    to {
        transform: translateY(-6555.83846014623px);
    }
}

@keyframes parallax-doodle-cbsxfc {
    to {
        transform: translateY(-5174.575109908199px);
    }
}

@keyframes parallax-doodle-l9axfw {
    to {
        transform: translateY(-5143.187955641993px);
    }
}

@keyframes parallax-doodle-jj3soi {
    to {
        transform: translateY(-6284.977270462691px);
    }
}

@keyframes parallax-doodle-qianjl {
    to {
        transform: translateY(-2365.4156916199563px);
    }
}

@keyframes parallax-doodle-tlcdd6 {
    to {
        transform: translateY(-4298.512208352175px);
    }
}

@keyframes parallax-doodle-dbhb9w {
    to {
        transform: translateY(-3749.165408927351px);
    }
}

@keyframes parallax-doodle-k5nisk {
    to {
        transform: translateY(-2549.8360801834406px);
    }
}

@keyframes parallax-doodle-rms22m {
    to {
        transform: translateY(-2483.325437944969px);
    }
}

@keyframes parallax-doodle-j8acmx {
    to {
        transform: translateY(-3631.344547972589px);
    }
}

@keyframes parallax-doodle-bkaok5 {
    to {
        transform: translateY(-3721.789599704175px);
    }
}

@keyframes parallax-doodle-fm4rxr {
    to {
        transform: translateY(-4536.279655666931px);
    }
}

@keyframes parallax-doodle-li0yjv {
    to {
        transform: translateY(-6392.4055534280815px);
    }
}

@keyframes parallax-doodle-8tpvjq {
    to {
        transform: translateY(-1757.933059531933px);
    }
}

@keyframes parallax-doodle-k4hbwvn {
    to {
        transform: translateY(-1789.0660177572818px);
    }
}

@keyframes parallax-doodle-gubfe3 {
    to {
        transform: translateY(-2611.8506696277195px);
    }
}

@keyframes parallax-doodle-kpbxfg {
    to {
        transform: translateY(-2876.9996721461034px);
    }
}

@keyframes parallax-doodle-tjoktk {
    to {
        transform: translateY(-3124.496003659606px);
    }
}

@keyframes parallax-doodle-lqrlzo {
    to {
        transform: translateY(-2189.823768508378px);
    }
}

@keyframes parallax-doodle-buny9l {
    to {
        transform: translateY(-1979.5457787168787px);
    }
}

@keyframes parallax-doodle-37sgq5 {
    to {
        transform: translateY(-1657.183710914092px);
    }
}

@keyframes parallax-doodle-f3u1mfe {
    to {
        transform: translateY(-1944.707885513466px);
    }
}

@keyframes parallax-doodle-9h3o0x {
    to {
        transform: translateY(-2614.3844623425066px);
    }
}

@keyframes parallax-doodle-vgsxw8 {
    to {
        transform: translateY(-2055.3417238249285px);
    }
}

@keyframes parallax-doodle-3ueb1n {
    to {
        transform: translateY(-3033.190668817999px);
    }
}

@keyframes parallax-doodle-ffy4qgh {
    to {
        transform: translateY(-2024.0805779107236px);
    }
}

@keyframes parallax-doodle-5akusa {
    to {
        transform: translateY(-3847.19224309563px);
    }
}

@keyframes parallax-doodle-wpkvev {
    to {
        transform: translateY(-3780.2738492487533px);
    }
}

@keyframes parallax-doodle-4ulh8 {
    to {
        transform: translateY(-3889.2269558021726px);
    }
}

@keyframes parallax-doodle-f97bph {
    to {
        transform: translateY(-3329.2233208087314px);
    }
}

@keyframes parallax-doodle-s0x60o {
    to {
        transform: translateY(-1374.7120204387852px);
    }
}

@keyframes parallax-doodle-lm26hpl {
    to {
        transform: translateY(-1851.7728397803812px);
    }
}

@keyframes parallax-doodle-j54ln5 {
    to {
        transform: translateY(-2742.057509054338px);
    }
}

@keyframes parallax-doodle-jpgdv6 {
    to {
        transform: translateY(-3823.0135396752253px);
    }
}

@keyframes parallax-doodle-jtc45y {
    to {
        transform: translateY(-2126.7535111219154px);
    }
}

@keyframes parallax-doodle-xh0y1n {
    to {
        transform: translateY(-3563.9088964538737px);
    }
}

@keyframes parallax-doodle-urjdk5 {
    to {
        transform: translateY(-1373.1133137206602px);
    }
}

@keyframes parallax-doodle-i9e4g4 {
    to {
        transform: translateY(-2510.1138173203403px);
    }
}

@keyframes parallax-doodle-nw5s0f {
    to {
        transform: translateY(-2263.0421787840214px);
    }
}

@keyframes parallax-doodle-2uzv6 {
    to {
        transform: translateY(-1085.7923328076224px);
    }
}

@keyframes parallax-doodle-x6j7hj {
    to {
        transform: translateY(-1336.965217367276px);
    }
}

@keyframes parallax-doodle-mj18aa {
    to {
        transform: translateY(-2212.5676124984348px);
    }
}

@keyframes parallax-doodle-8wfa74 {
    to {
        transform: translateY(-1442.2679376860754px);
    }
}

@keyframes parallax-doodle-1q2ctn {
    to {
        transform: translateY(-1068.228546122471px);
    }
}

@keyframes parallax-doodle-fnu48q {
    to {
        transform: translateY(-2405.1716319900543px);
    }
}

@keyframes parallax-doodle-2w5y0m {
    to {
        transform: translateY(-1208.116642669203px);
    }
}

@keyframes parallax-doodle-6ozomd {
    to {
        transform: translateY(-1185.1591689375432px);
    }
}

@keyframes parallax-doodle-vngg2ne {
    to {
        transform: translateY(-1583.8556166747917px);
    }
}

@keyframes parallax-doodle-vuljzo {
    to {
        transform: translateY(-1275.8240073028392px);
    }
}

@keyframes parallax-doodle-503pl {
    to {
        transform: translateY(-939.231398726175px);
    }
}

@keyframes parallax-doodle-gs3qx4 {
    to {
        transform: translateY(-1892.8437238655174px);
    }
}

@keyframes parallax-doodle-fs7li {
    to {
        transform: translateY(-928.3726088484748px);
    }
}

@keyframes parallax-doodle-26r3ozl {
    to {
        transform: translateY(-1664.906682689883px);
    }
}

@keyframes parallax-doodle-riel4n {
    to {
        transform: translateY(-2433.498274846865px);
    }
}

@keyframes parallax-doodle-wjwvh6 {
    to {
        transform: translateY(-2093.328629825613px);
    }
}
