#parallax-doodle-container {
    transition: none;
    pointer-events: none;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    overflow: visible;
    position: fixed;
    animation: scroll-up linear forwards;
    animation-timeline: scroll();
    user-select: none;

    & > * {
        font-size: 10rem;
        font-weight: bolder;
        height: 10rem;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        overflow: visible;
        position: absolute;
        animation: linear forwards;
        animation-timeline: scroll();
        opacity: 0.2;

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }
}

@keyframes scroll-up {
    to {
        translate: 0 -100%;
    }
}
@keyframes parallax-doodle-yr488s {
    to {
        transform: translateY(-163.71452686403507px);
    }
}

@keyframes parallax-doodle-yls7u2 {
    to {
        transform: translateY(-203.68355541094286px);
    }
}

@keyframes parallax-doodle-1rf3zt {
    to {
        transform: translateY(-280.71834381290705px);
    }
}

@keyframes parallax-doodle-xqq3ns {
    to {
        transform: translateY(-112.23055849811053px);
    }
}

@keyframes parallax-doodle-4d6bu1 {
    to {
        transform: translateY(-104.53549642656083px);
    }
}

@keyframes parallax-doodle-sdfhxk {
    to {
        transform: translateY(-168.28898294197575px);
    }
}

@keyframes parallax-doodle-85wjp7 {
    to {
        transform: translateY(-2116.010205847104px);
    }
}

@keyframes parallax-doodle-1rwlad {
    to {
        transform: translateY(-1620.6481861957225px);
    }
}

@keyframes parallax-doodle-m0kvto {
    to {
        transform: translateY(-1059.6964508650276px);
    }
}

@keyframes parallax-doodle-t9eklw {
    to {
        transform: translateY(-2064.679639515693px);
    }
}

@keyframes parallax-doodle-8m8v9 {
    to {
        transform: translateY(-812.1347359265176px);
    }
}

@keyframes parallax-doodle-zpcr8wc {
    to {
        transform: translateY(-1343.2993763779086px);
    }
}

@keyframes parallax-doodle-0trmc9d {
    to {
        transform: translateY(-2004.4645238954845px);
    }
}

@keyframes parallax-doodle-6ezt1r {
    to {
        transform: translateY(-2176.5572362936746px);
    }
}

@keyframes parallax-doodle-ix7p6q {
    to {
        transform: translateY(-906.5502084539607px);
    }
}

@keyframes parallax-doodle-f7acwi {
    to {
        transform: translateY(-984.2903254091632px);
    }
}

@keyframes parallax-doodle-l01fxm {
    to {
        transform: translateY(-2153.306005682294px);
    }
}

@keyframes parallax-doodle-2zm5it {
    to {
        transform: translateY(-1596.1443541948709px);
    }
}

@keyframes parallax-doodle-yx1ut6 {
    to {
        transform: translateY(-1711.7677237246794px);
    }
}

@keyframes parallax-doodle-sraae5i {
    to {
        transform: translateY(-1531.7274682342852px);
    }
}

@keyframes parallax-doodle-nbistq {
    to {
        transform: translateY(-1561.1494195829534px);
    }
}

@keyframes parallax-doodle-9yr3v8 {
    to {
        transform: translateY(-1012.8476782582213px);
    }
}

@keyframes parallax-doodle-b0vr28c {
    to {
        transform: translateY(-1362.690822713044px);
    }
}

@keyframes parallax-doodle-nb4imo {
    to {
        transform: translateY(-1241.926347039467px);
    }
}

@keyframes parallax-doodle-85wl5e {
    to {
        transform: translateY(-1064.9525725904216px);
    }
}

@keyframes parallax-doodle-h6bymh {
    to {
        transform: translateY(-659.2660210285544px);
    }
}

@keyframes parallax-doodle-09iphtd {
    to {
        transform: translateY(-1804.7376599887546px);
    }
}

@keyframes parallax-doodle-e517wf {
    to {
        transform: translateY(-698.8996140426323px);
    }
}

@keyframes parallax-doodle-e7o5t5 {
    to {
        transform: translateY(-1683.837495993816px);
    }
}

@keyframes parallax-doodle-mehfn {
    to {
        transform: translateY(-1103.9659769866096px);
    }
}

@keyframes parallax-doodle-5iipon {
    to {
        transform: translateY(-1108.8279353819203px);
    }
}

@keyframes parallax-doodle-d7r339 {
    to {
        transform: translateY(-636.2696409270595px);
    }
}

@keyframes parallax-doodle-ywev3j {
    to {
        transform: translateY(-1720.8093900111003px);
    }
}

@keyframes parallax-doodle-n7c1v {
    to {
        transform: translateY(-991.4031345282158px);
    }
}

@keyframes parallax-doodle-gzce66n {
    to {
        transform: translateY(-1350.3421849662473px);
    }
}

@keyframes parallax-doodle-6a63wc {
    to {
        transform: translateY(-869.1813094674562px);
    }
}

@keyframes parallax-doodle-z514d9 {
    to {
        transform: translateY(-612.3260025742516px);
    }
}

@keyframes parallax-doodle-ne5h7h {
    to {
        transform: translateY(-1712.5051310252857px);
    }
}

@keyframes parallax-doodle-7akuof {
    to {
        transform: translateY(-731.5993484783828px);
    }
}

@keyframes parallax-doodle-4mz0cv {
    to {
        transform: translateY(-4418.21614879383px);
    }
}

@keyframes parallax-doodle-00r7 {
    to {
        transform: translateY(-5140.901235017647px);
    }
}

@keyframes parallax-doodle-zg57yc {
    to {
        transform: translateY(-6086.080235092441px);
    }
}

@keyframes parallax-doodle-jl5lrn {
    to {
        transform: translateY(-6669.502734646303px);
    }
}

@keyframes parallax-doodle-7e21ck {
    to {
        transform: translateY(-5363.622843588413px);
    }
}

@keyframes parallax-doodle-lrymin {
    to {
        transform: translateY(-3430.7442939111197px);
    }
}

@keyframes parallax-doodle-s4wrve {
    to {
        transform: translateY(-4428.006004295265px);
    }
}

@keyframes parallax-doodle-xe4rwb {
    to {
        transform: translateY(-5900.628030533549px);
    }
}

@keyframes parallax-doodle-1x3yjj {
    to {
        transform: translateY(-6640.8410905290175px);
    }
}

@keyframes parallax-doodle-gae8j {
    to {
        transform: translateY(-3695.7009664086727px);
    }
}

@keyframes parallax-doodle-464x8c {
    to {
        transform: translateY(-6069.6544103752px);
    }
}

@keyframes parallax-doodle-oig8cr {
    to {
        transform: translateY(-3734.511327857612px);
    }
}

@keyframes parallax-doodle-5v7ptm {
    to {
        transform: translateY(-4923.131298591088px);
    }
}

@keyframes parallax-doodle-8b4va9 {
    to {
        transform: translateY(-2417.964684270244px);
    }
}

@keyframes parallax-doodle-i0xje {
    to {
        transform: translateY(-5039.490355492939px);
    }
}

@keyframes parallax-doodle-cvzc1b {
    to {
        transform: translateY(-6055.302745378413px);
    }
}

@keyframes parallax-doodle-hi4nkw {
    to {
        transform: translateY(-3983.8429677553117px);
    }
}

@keyframes parallax-doodle-umhjre {
    to {
        transform: translateY(-4861.263773676525px);
    }
}

@keyframes parallax-doodle-a08an7 {
    to {
        transform: translateY(-4325.813486076839px);
    }
}

@keyframes parallax-doodle-how7sd {
    to {
        transform: translateY(-3151.3221384500375px);
    }
}

@keyframes parallax-doodle-2hm7vx {
    to {
        transform: translateY(-4106.013942244654px);
    }
}

@keyframes parallax-doodle-votvss {
    to {
        transform: translateY(-6274.344815023251px);
    }
}

@keyframes parallax-doodle-ansbnk {
    to {
        transform: translateY(-3023.6576359041414px);
    }
}

@keyframes parallax-doodle-c0zohn {
    to {
        transform: translateY(-3819.387603470745px);
    }
}

@keyframes parallax-doodle-ofiavd {
    to {
        transform: translateY(-6320.383239685969px);
    }
}

@keyframes parallax-doodle-8hbsao {
    to {
        transform: translateY(-2743.531817586513px);
    }
}

@keyframes parallax-doodle-2umlx8 {
    to {
        transform: translateY(-4267.299443818127px);
    }
}

@keyframes parallax-doodle-k5hruy {
    to {
        transform: translateY(-5827.170185026648px);
    }
}

@keyframes parallax-doodle-12sx82 {
    to {
        transform: translateY(-6169.610362608723px);
    }
}

@keyframes parallax-doodle-xb5243 {
    to {
        transform: translateY(-4829.122627517551px);
    }
}

@keyframes parallax-doodle-bi1g9q {
    to {
        transform: translateY(-3522.2386724348494px);
    }
}

@keyframes parallax-doodle-g486d1 {
    to {
        transform: translateY(-3060.111456563364px);
    }
}

@keyframes parallax-doodle-gw1wj1 {
    to {
        transform: translateY(-1887.0821521424402px);
    }
}

@keyframes parallax-doodle-zpwsp6 {
    to {
        transform: translateY(-2618.010024857487px);
    }
}

@keyframes parallax-doodle-svstpj {
    to {
        transform: translateY(-2524.489816601355px);
    }
}

@keyframes parallax-doodle-1i0x01 {
    to {
        transform: translateY(-2980.420556856724px);
    }
}

@keyframes parallax-doodle-shcbwmn {
    to {
        transform: translateY(-1408.796135153821px);
    }
}

@keyframes parallax-doodle-4mi96k {
    to {
        transform: translateY(-2595.7338954303154px);
    }
}

@keyframes parallax-doodle-alv0s3 {
    to {
        transform: translateY(-2246.0542396962837px);
    }
}

@keyframes parallax-doodle-yqsf6y {
    to {
        transform: translateY(-1325.6604669099966px);
    }
}

@keyframes parallax-doodle-0po00o {
    to {
        transform: translateY(-1522.2585029356px);
    }
}

@keyframes parallax-doodle-smuzr7 {
    to {
        transform: translateY(-3481.457403871434px);
    }
}

@keyframes parallax-doodle-rfpvvk {
    to {
        transform: translateY(-3276.2042917661183px);
    }
}

@keyframes parallax-doodle-b1xqqe {
    to {
        transform: translateY(-2929.2363480327017px);
    }
}

@keyframes parallax-doodle-i24hdx {
    to {
        transform: translateY(-2105.16010928958px);
    }
}

@keyframes parallax-doodle-51j3ecd {
    to {
        transform: translateY(-1825.6166204241922px);
    }
}

@keyframes parallax-doodle-24o3rb {
    to {
        transform: translateY(-3596.1049839186853px);
    }
}

@keyframes parallax-doodle-xgayl9 {
    to {
        transform: translateY(-3436.2183096043786px);
    }
}

@keyframes parallax-doodle-i3udv5 {
    to {
        transform: translateY(-3630.5173633997483px);
    }
}

@keyframes parallax-doodle-rcx27t {
    to {
        transform: translateY(-3433.370185160404px);
    }
}

@keyframes parallax-doodle-vkicrn {
    to {
        transform: translateY(-2608.942034673313px);
    }
}

@keyframes parallax-doodle-20vs4s {
    to {
        transform: translateY(-2753.27164833082px);
    }
}

@keyframes parallax-doodle-xo4df {
    to {
        transform: translateY(-1476.2823574682925px);
    }
}

@keyframes parallax-doodle-s6241he {
    to {
        transform: translateY(-1954.2004494233645px);
    }
}

@keyframes parallax-doodle-f1hvlg {
    to {
        transform: translateY(-1530.0689952326018px);
    }
}

@keyframes parallax-doodle-mf2mwi {
    to {
        transform: translateY(-1156.0717726067749px);
    }
}

@keyframes parallax-doodle-pt01ge {
    to {
        transform: translateY(-1378.8832691526652px);
    }
}

@keyframes parallax-doodle-ibj3x8 {
    to {
        transform: translateY(-2152.0219976058843px);
    }
}

@keyframes parallax-doodle-zcwo1 {
    to {
        transform: translateY(-1015.3614750982008px);
    }
}

@keyframes parallax-doodle-epe5ag {
    to {
        transform: translateY(-2236.709420125178px);
    }
}

@keyframes parallax-doodle-8h1ml9 {
    to {
        transform: translateY(-2144.039533467893px);
    }
}

@keyframes parallax-doodle-g3lcv8 {
    to {
        transform: translateY(-1548.8336784081966px);
    }
}

@keyframes parallax-doodle-gmw4ta {
    to {
        transform: translateY(-868.3930783202266px);
    }
}

@keyframes parallax-doodle-efo8ugm {
    to {
        transform: translateY(-1595.8652785359823px);
    }
}

@keyframes parallax-doodle-0qxqx6 {
    to {
        transform: translateY(-1574.4483185069917px);
    }
}

@keyframes parallax-doodle-nvjfwd {
    to {
        transform: translateY(-2274.002054957827px);
    }
}

@keyframes parallax-doodle-it2rc7 {
    to {
        transform: translateY(-875.6879613004905px);
    }
}

@keyframes parallax-doodle-fs8fn {
    to {
        transform: translateY(-1151.7001980120967px);
    }
}

@keyframes parallax-doodle-0cu7p {
    to {
        transform: translateY(-1273.0494257953285px);
    }
}

@keyframes parallax-doodle-h395i3 {
    to {
        transform: translateY(-2185.774286059579px);
    }
}

@keyframes parallax-doodle-iysyna {
    to {
        transform: translateY(-189.50204747203645px);
    }
}

@keyframes parallax-doodle-csaco {
    to {
        transform: translateY(-189.06165027349425px);
    }
}

@keyframes parallax-doodle-ad9n26 {
    to {
        transform: translateY(-210.38503703736438px);
    }
}

@keyframes parallax-doodle-11ulq6 {
    to {
        transform: translateY(-143.04068135299474px);
    }
}

@keyframes parallax-doodle-37qg5t {
    to {
        transform: translateY(-214.49247876589206px);
    }
}
