#parallax-doodle-container {
    transition: none;
    pointer-events: none;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    overflow: visible;
    position: fixed;
    animation: scroll-up linear forwards;
    animation-timeline: scroll();

    & > * {
        font-size: 10rem;
        font-weight: bolder;
        height: 10rem;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        overflow: visible;
        position: absolute;
        animation: linear forwards;
        animation-timeline: scroll();
        opacity: 0.2;

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }
    }
}

@keyframes scroll-up {
    to {
        translate: 0 -100%;
    }
}
@keyframes parallax-doodle-ks093x {
    to {
        transform: translateY(-113.27588256957127px);
    }
}

@keyframes parallax-doodle-f0h8yg {
    to {
        transform: translateY(-217.3255619220758px);
    }
}

@keyframes parallax-doodle-3vcmhu {
    to {
        transform: translateY(-212.82161152957136px);
    }
}

@keyframes parallax-doodle-y87o22 {
    to {
        transform: translateY(-185.70513869130747px);
    }
}

@keyframes parallax-doodle-obdg25 {
    to {
        transform: translateY(-129.90392822879195px);
    }
}

@keyframes parallax-doodle-2kd6jd {
    to {
        transform: translateY(-168.0347880502011px);
    }
}

@keyframes parallax-doodle-l0ymne {
    to {
        transform: translateY(-161.12342644194865px);
    }
}

@keyframes parallax-doodle-92pgme {
    to {
        transform: translateY(-215.25298465554147px);
    }
}

@keyframes parallax-doodle-z1ifxl {
    to {
        transform: translateY(-162.46889946392994px);
    }
}

@keyframes parallax-doodle-yc7wsb {
    to {
        transform: translateY(-155.9675487369954px);
    }
}

@keyframes parallax-doodle-2w99sr {
    to {
        transform: translateY(-96.93450103835838px);
    }
}

@keyframes parallax-doodle-nn92nk {
    to {
        transform: translateY(-1962.0900129863303px);
    }
}

@keyframes parallax-doodle-ih1608h {
    to {
        transform: translateY(-1448.2573403875722px);
    }
}

@keyframes parallax-doodle-sw9mzun {
    to {
        transform: translateY(-1420.0862674967038px);
    }
}

@keyframes parallax-doodle-zgm8k7 {
    to {
        transform: translateY(-1753.912025497326px);
    }
}

@keyframes parallax-doodle-nlheluf {
    to {
        transform: translateY(-1655.9040551432547px);
    }
}

@keyframes parallax-doodle-x0q58r {
    to {
        transform: translateY(-2052.8417571196437px);
    }
}

@keyframes parallax-doodle-m5h55 {
    to {
        transform: translateY(-2084.154024179448px);
    }
}

@keyframes parallax-doodle-gq3u0v {
    to {
        transform: translateY(-1771.7758214416272px);
    }
}

@keyframes parallax-doodle-s7xxur {
    to {
        transform: translateY(-1852.4435061006734px);
    }
}

@keyframes parallax-doodle-qhxkn {
    to {
        transform: translateY(-1258.909566530759px);
    }
}

@keyframes parallax-doodle-k6sdgd {
    to {
        transform: translateY(-1172.5069135972508px);
    }
}

@keyframes parallax-doodle-x28yquj {
    to {
        transform: translateY(-1663.6789493842832px);
    }
}

@keyframes parallax-doodle-w5f6wv {
    to {
        transform: translateY(-1619.0554730497927px);
    }
}

@keyframes parallax-doodle-qb1ead {
    to {
        transform: translateY(-1263.624415525116px);
    }
}

@keyframes parallax-doodle-c7ee5ol {
    to {
        transform: translateY(-1832.4315887677976px);
    }
}

@keyframes parallax-doodle-7m5kc {
    to {
        transform: translateY(-1260.4026751444408px);
    }
}

@keyframes parallax-doodle-ifhatd {
    to {
        transform: translateY(-916.3144399851012px);
    }
}

@keyframes parallax-doodle-b24zbk {
    to {
        transform: translateY(-4108.458570374636px);
    }
}

@keyframes parallax-doodle-wfr8a8 {
    to {
        transform: translateY(-3364.9173619186718px);
    }
}

@keyframes parallax-doodle-7fks8u {
    to {
        transform: translateY(-4051.530251901238px);
    }
}

@keyframes parallax-doodle-r67qhd {
    to {
        transform: translateY(-3775.157218206351px);
    }
}

@keyframes parallax-doodle-v0n87 {
    to {
        transform: translateY(-5881.45976976px);
    }
}

@keyframes parallax-doodle-37thia {
    to {
        transform: translateY(-3483.413649202594px);
    }
}

@keyframes parallax-doodle-gwtop8 {
    to {
        transform: translateY(-5809.265794577222px);
    }
}

@keyframes parallax-doodle-b6623d {
    to {
        transform: translateY(-3118.7062579591297px);
    }
}

@keyframes parallax-doodle-8pflkv {
    to {
        transform: translateY(-3029.8921619187468px);
    }
}

@keyframes parallax-doodle-vack6 {
    to {
        transform: translateY(-3491.6928002286795px);
    }
}

@keyframes parallax-doodle-26ej5f {
    to {
        transform: translateY(-4054.0694911239625px);
    }
}

@keyframes parallax-doodle-802evw {
    to {
        transform: translateY(-3158.2092764459503px);
    }
}

@keyframes parallax-doodle-e1fkq {
    to {
        transform: translateY(-6513.668510798097px);
    }
}

@keyframes parallax-doodle-ygtv7s {
    to {
        transform: translateY(-5975.705214066574px);
    }
}

@keyframes parallax-doodle-wd7w8i {
    to {
        transform: translateY(-6359.708255469892px);
    }
}

@keyframes parallax-doodle-8cgim2 {
    to {
        transform: translateY(-4703.539530737267px);
    }
}

@keyframes parallax-doodle-fauh56 {
    to {
        transform: translateY(-4623.6631366017955px);
    }
}

@keyframes parallax-doodle-iq7gow {
    to {
        transform: translateY(-6168.147006343905px);
    }
}

@keyframes parallax-doodle-7goe3p {
    to {
        transform: translateY(-4046.325777247626px);
    }
}

@keyframes parallax-doodle-oepts {
    to {
        transform: translateY(-5067.143270079245px);
    }
}

@keyframes parallax-doodle-t39l5o {
    to {
        transform: translateY(-2777.445839564713px);
    }
}

@keyframes parallax-doodle-ztmmz7 {
    to {
        transform: translateY(-3519.7044715154184px);
    }
}

@keyframes parallax-doodle-x701ae {
    to {
        transform: translateY(-6541.9991682628615px);
    }
}

@keyframes parallax-doodle-pb5whh {
    to {
        transform: translateY(-3559.5977647057152px);
    }
}

@keyframes parallax-doodle-umfug7 {
    to {
        transform: translateY(-4925.546181055766px);
    }
}

@keyframes parallax-doodle-cktuph {
    to {
        transform: translateY(-4532.369096763337px);
    }
}

@keyframes parallax-doodle-klfchu {
    to {
        transform: translateY(-6174.370040191513px);
    }
}

@keyframes parallax-doodle-gzsnaz {
    to {
        transform: translateY(-3031.8282963461647px);
    }
}

@keyframes parallax-doodle-6sqay3 {
    to {
        transform: translateY(-5161.333479039655px);
    }
}

@keyframes parallax-doodle-4sr1ks {
    to {
        transform: translateY(-3919.8504114935895px);
    }
}

@keyframes parallax-doodle-00z4pah {
    to {
        transform: translateY(-1621.2060190995148px);
    }
}

@keyframes parallax-doodle-w7xzgrh {
    to {
        transform: translateY(-1607.665814057518px);
    }
}

@keyframes parallax-doodle-eroh5l {
    to {
        transform: translateY(-808.3206106448654px);
    }
}

@keyframes parallax-doodle-syvqod {
    to {
        transform: translateY(-1824.0839542381682px);
    }
}

@keyframes parallax-doodle-kamd22h {
    to {
        transform: translateY(-1532.3731201781754px);
    }
}

@keyframes parallax-doodle-zp7lig {
    to {
        transform: translateY(-1564.6172775271511px);
    }
}

@keyframes parallax-doodle-jhw4n {
    to {
        transform: translateY(-994.3912153117218px);
    }
}

@keyframes parallax-doodle-f0lrbt {
    to {
        transform: translateY(-923.452683837728px);
    }
}

@keyframes parallax-doodle-xhz8a {
    to {
        transform: translateY(-1018.4472507402917px);
    }
}

@keyframes parallax-doodle-jni5tqk {
    to {
        transform: translateY(-1308.1910076496624px);
    }
}

@keyframes parallax-doodle-wijoe {
    to {
        transform: translateY(-750.807975462953px);
    }
}

@keyframes parallax-doodle-02mn07 {
    to {
        transform: translateY(-1694.7808657626874px);
    }
}

@keyframes parallax-doodle-gi76j {
    to {
        transform: translateY(-1044.2639201493325px);
    }
}

@keyframes parallax-doodle-92y9y {
    to {
        transform: translateY(-1657.9569847823059px);
    }
}

@keyframes parallax-doodle-tlku6n {
    to {
        transform: translateY(-766.0098770191594px);
    }
}

@keyframes parallax-doodle-6w763 {
    to {
        transform: translateY(-729.7366510526338px);
    }
}

@keyframes parallax-doodle-7sdy2o {
    to {
        transform: translateY(-1368.6930681699882px);
    }
}

@keyframes parallax-doodle-2b00rk {
    to {
        transform: translateY(-2508.7045247250508px);
    }
}

@keyframes parallax-doodle-8jgraq {
    to {
        transform: translateY(-3191.3489484891234px);
    }
}

@keyframes parallax-doodle-pbvv2c {
    to {
        transform: translateY(-2349.4341848881418px);
    }
}

@keyframes parallax-doodle-3svyyx {
    to {
        transform: translateY(-2382.4105753267972px);
    }
}

@keyframes parallax-doodle-zk5lq1 {
    to {
        transform: translateY(-2966.3672745173008px);
    }
}

@keyframes parallax-doodle-btv9f4 {
    to {
        transform: translateY(-3797.782660958445px);
    }
}

@keyframes parallax-doodle-uv7zrym {
    to {
        transform: translateY(-1621.5770504818065px);
    }
}

@keyframes parallax-doodle-iad4pk {
    to {
        transform: translateY(-2543.649311726457px);
    }
}

@keyframes parallax-doodle-67pfdr {
    to {
        transform: translateY(-3547.6382504729136px);
    }
}

@keyframes parallax-doodle-hmoo3u {
    to {
        transform: translateY(-3892.781242072752px);
    }
}

@keyframes parallax-doodle-bkp2tn {
    to {
        transform: translateY(-2993.8274085842377px);
    }
}

@keyframes parallax-doodle-kytj74 {
    to {
        transform: translateY(-3776.228844462287px);
    }
}

@keyframes parallax-doodle-jq2wmd {
    to {
        transform: translateY(-1582.7843733810146px);
    }
}

@keyframes parallax-doodle-02kwcr {
    to {
        transform: translateY(-1942.988427462301px);
    }
}

@keyframes parallax-doodle-gavttm {
    to {
        transform: translateY(-3406.4810592921967px);
    }
}

@keyframes parallax-doodle-jissfo {
    to {
        transform: translateY(-2437.973412255967px);
    }
}

@keyframes parallax-doodle-a0at2u {
    to {
        transform: translateY(-2185.8389490813465px);
    }
}

@keyframes parallax-doodle-7lk01a {
    to {
        transform: translateY(-3689.314977682746px);
    }
}

@keyframes parallax-doodle-7k89la {
    to {
        transform: translateY(-2827.882878127871px);
    }
}

@keyframes parallax-doodle-xejz8ul {
    to {
        transform: translateY(-2009.150407328207px);
    }
}

@keyframes parallax-doodle-talqn2h {
    to {
        transform: translateY(-1919.5831896123218px);
    }
}

@keyframes parallax-doodle-kt8b91 {
    to {
        transform: translateY(-3893.8615571838463px);
    }
}

@keyframes parallax-doodle-if2fb6 {
    to {
        transform: translateY(-2404.39854292134px);
    }
}

@keyframes parallax-doodle-gqrxsh {
    to {
        transform: translateY(-2071.4625502353356px);
    }
}

@keyframes parallax-doodle-byq4g6 {
    to {
        transform: translateY(-916.9632701549649px);
    }
}

@keyframes parallax-doodle-kjpbs {
    to {
        transform: translateY(-1184.0555249219585px);
    }
}

@keyframes parallax-doodle-fyoyajc {
    to {
        transform: translateY(-1590.927039688314px);
    }
}

@keyframes parallax-doodle-s3d84mm {
    to {
        transform: translateY(-1616.8671144877062px);
    }
}

@keyframes parallax-doodle-zxgnm {
    to {
        transform: translateY(-1160.722500815376px);
    }
}

@keyframes parallax-doodle-y8hlua {
    to {
        transform: translateY(-1894.599499224272px);
    }
}

@keyframes parallax-doodle-0urt7g {
    to {
        transform: translateY(-2211.6813454816674px);
    }
}

@keyframes parallax-doodle-sxho0n {
    to {
        transform: translateY(-974.8823474712665px);
    }
}

@keyframes parallax-doodle-iyaycl {
    to {
        transform: translateY(-2499.358430917711px);
    }
}

@keyframes parallax-doodle-75nffc {
    to {
        transform: translateY(-1615.5904311764068px);
    }
}

@keyframes parallax-doodle-2vx0gy {
    to {
        transform: translateY(-2333.3604013756894px);
    }
}

@keyframes parallax-doodle-6d5ou7 {
    to {
        transform: translateY(-1675.3311549533075px);
    }
}

@keyframes parallax-doodle-mr86ol {
    to {
        transform: translateY(-867.0961212302789px);
    }
}

@keyframes parallax-doodle-qp59o {
    to {
        transform: translateY(-2459.294553723201px);
    }
}

@keyframes parallax-doodle-0pqsy {
    to {
        transform: translateY(-1094.1938018660971px);
    }
}

@keyframes parallax-doodle-4gm7jn {
    to {
        transform: translateY(-2044.3218548864343px);
    }
}

@keyframes parallax-doodle-l9psfc {
    to {
        transform: translateY(-1851.0182028013414px);
    }
}
