painted-content {
    & section:has(h1#references) {
        & ol {
            list-style-type: none;
            counter-reset: list;
            padding-left: 0;
        }

        & li {
            scroll-margin-top: calc(var(--top-margin) + 3.5rem);
            counter-increment: list;
            margin: 1rem 0;
            position: relative;
            padding-left: 2rem;

            &::before {
                content: '[' counter(list) ']';
                font-weight: bold;
                position: absolute;
                left: 0;
            }
        }
    }

    .reference-box {
        position: absolute;
        width: 30rem;
        height: fit-content;
        background-color: var(--bright-brown);
        border-radius: 0.5rem;
        translate: -1rem 1.3rem;
        padding: 1rem;
        box-sizing: border-box;
        box-shadow:
            rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        color: initial;
    }
}
