<css-embed href="/styles/catalogue.css" />
<js-post-paint src="/lib/buildCatalogue.ts" />
<js-runtime src="/scripts/catalogue.js" />

<div class="catalogue" id="catalogue">
    <template id="catalogue-item-template">
        <div class="catalogue-item">
            <a href=""></a>
        </div>
    </template>
    <template id="catalogue-divider-template">
        <div class="catalogue-item catalogue-divider"> | </div>
    </template>
    <!--  -->
    <div class="catalogue-item catalogue-arrow"> > </div>
</div>