<css-embed href="/styles/footer.css" />

<footer>
    <div class="footer-leftside">
        <div class="resisense-logo">
            <img src="/assets/logos/resisense/ResiSense Full Name Logo.svg" alt="ResiSense logo" />
        </div>
        <div class="socials">
            <a href="https://www.instagram.com/cuhkigem2024/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/icons/instagram icon.svg" alt="Instagram icon" />
                <span> cuhkigem2024 </span>
            </a>
            <a href="mailto:cuhkigem2024@gmail.com" target="_blank" rel="noopener noreferrer">
                <img src="/assets/icons/email icon.svg" alt="Email icon" />
                <span> cuhkigem2024@gmail.com </span>
            </a>
        </div>
    </div>

    <div class="divider"></div>

    <div class="footer-rightside">
        <div class="footer-rightside-top">
            <div>
                <a href="https://www.cuhk.edu.hk" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/logos/cuhk logo horizontal.svg" alt="CUHK logo" />
                </a>
                <a href="https://www.bme.cuhk.edu.hk" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/logos/bme logo.svg" alt="CUHK BME logo" />
                </a>
                <a href="https://www.sls.cuhk.edu.hk" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/logos/sls logo.svg" alt="CUHK SLS logo" />
                </a>
            </div>
            <div>
                <a href="https://opentrons.com" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/logos/opentrons logo.svg" alt="Opentrons logo" />
                </a>
                <a href="https://www.idtdna.com" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/logos/idt logo.svg" alt="IDT logo" />
                </a>
                <a href="https://www.neb.com" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/logos/neb logo.svg" alt="NEB logo" />
                </a>
                <a href="https://www.hklss.org" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/logos/hklss logo repacked.svg" alt="HKLSS logo" />
                </a>
                <a href="https://abehk.fed.cuhk.edu.hk" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/logos/abehk logo.svg" alt="ABEHK logo" />
                </a>
            </div>
        </div>
        <div class="footer-rightside-bottom">
            <span>© 2024 ResiSense.
                Content on this site is licensed under <a href="https://creativecommons.org/licenses/by/4.0/"
                    target="_blank" rel="noopener noreferrer"><img
                        src="/assets/icons/creative common/Creative Common CC icon.svg"
                        alt="Creative Commons icon" /><img
                        src="/assets/icons/creative common/Creative Common BY icon.svg"
                        alt="Creative Commons BY icon" /> CC BY
                    4.0</a>.
                All rights reserved.</span>
            <span>The repository hosting the source code of this website is available on <a
                    href="https://github.com/ResiSense/ResiSense.github.io" target="_blank"
                    rel="noopener noreferrer">GitHub <img src="/assets/icons/github icon.svg" alt="GitHub icon" /></a>
                and
                <a href="https://gitlab.igem.org/2024/hongkong-cuhk" target="_blank" rel="noopener noreferrer">GitLab
                    <img src="/assets/icons/gitlab icon.svg" alt="GitLab icon" /></a>.</span>
        </div>
    </div>
</footer>