<css-embed href="/styles/header.css" />

<header>
    <div class="logo-container">
        <a href="/" class="logo"> </a>
    </div>
    <div class="header-shelf">
        <div class="header-items-container">
            <div class="header-leftside">
                <div class="logo-name-text">
                    <a href="/"> ResiSense </a>
                </div>
                <div class="logo-flavour-text"> Finding resistant pathogens one species at a time </div>
            </div>
            <div class="header-rightside">
                <custom-searchbar />
                <custom-hamburger-menu />
            </div>
            <div class="page-title hidden" id="header-page-title"></div>
        </div>
        <div class="header-catalogue-container">
            <custom-catalogue />
        </div>
    </div>
</header>
<div class="header-spacer"></div>