<css-embed href="/styles/header.css" />
<ts-embed src="/scripts/header.ts" />
<!--<header>
    <div class="logo-container">
        <a href="/" class="logo"> </a>
    </div>
    <div class="header-shelf">
        <div class="header-items-container">
            <div class="header-leftside">
                <div class="logo-name-text">
                    <a href="/"> ResiSense </a>
                </div>
                <div class="logo-flavour-text"> Finding resistant pathogens one species at a time </div>
            </div>
            <div class="page-title-container">
                <div class="page-title hidden" id="header-page-title"></div>
            </div>
            <div class="header-rightside">
                <custom-searchbar />
                <custom-hamburger-menu />
            </div>
        </div>
        <div class="header-catalogue-container">
            <custom-catalogue />
        </div>
    </div>
</header> -->

<header>
    <a href="#" class="header-logo"><img src="/assets/logos/resisense/ResiSense Final Logo.svg"></a>


    <div class="category-menu-list-container">
        <div class="category-list-subcontainer">
         
            <img src="/assets/icons/header icon/Team.svg">
            <div class="category-title">Team</div>
            <div></div>

            <a href="#">Member</a>
            <div></div>
            <a href="#">Attribution</a>
            <div></div>
            <a href="#">Sponsorship</a>

        </div>
        <div class="category-list-subcontainer">
         
            <img src="/assets/icons/header icon/Project.svg">
            <div class="category-title">Project</div>
            <div></div>

            <a href="#">Description</a>
            <div></div>
            <a href="#">Contribution</a>
           

        </div>
        <div class="category-list-subcontainer">
         
            <img src="/assets/icons/header icon/Wet Lab.svg">
            <div class="category-title">Wet Lab</div>
            <div></div>

            <a href="#">Proof of Concept</a>
            <div></div>
            <a href="#">Result</a>
            <div></div>
            <a href="#">Engineering Success</a>
            <div></div>
            <a href="#">Notebook</a>

        </div>
        <div class="category-list-subcontainer">
         
            <img src="/assets/icons/header icon/Dry Lab.svg">
            <div class="category-title">Dry Lab</div>
            <div></div>

            <a href="#">Model</a>
            

        </div>
        <div class="category-list-subcontainer">
          
            <img src="/assets/icons/header icon/Outreach.svg">
            <div class="category-title">Outreach</div>
            <div></div>

            <a href="#">Human Practice</a>
            <div></div>
            <a href="#">Education</a>
            

        </div>

    </div>
    <div class="header-rightside-container">
        <img class="search-icon" src="/assets/icons/header icon/search.svg">
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</header>

<div class="header-spacer"></div>