<ts-post-population src="/lib/template-scripts/randomiseParallaxDoodles.ts" />
<js-embed src="/scripts/parallax-doodle.js" />
<css-embed href="/styles/parallax-doodle.css" />

<div id="parallax-doodle-container">
    <!-- put doodles here to be duplicated and filled -->
    <img src="/assets/logos/resisense/ResiSense Orange Logo.svg">
    <img src="/assets/doodles/bacteria.svg">
    <img src="/assets/doodles/dna.svg">
    <img src="/assets/doodles/drug.svg">
    <img src="/assets/doodles/e coli.svg">
    <img src="/assets/doodles/red blood cell.svg">
    <img src="/assets/doodles/syringe.svg">
    <img src="/assets/doodles/virus.svg">
</div>