<ts-post-population src="/lib/template-scripts/randomiseParallaxDoodles.ts" />
<js-embed src="/scripts/parallax.js" />
<css-embed href="/styles/parallax.css" />

<div id="parallax">
    <!-- put doodles here to be duplicated and filled -->
    <img src="/assets/logos/neb logo.svg">
    <img src="/assets/icons/github icon.svg">
    <img src="/assets/humans/stephen tsui full-Enhanced-SR transparent.png">
    <img src="/assets/logos/cuhk logo stacked.svg">
    <img src="/assets/logos/resisense/ResiSense Green Logo.svg">
    <img src="/assets/humans/margaret ip full-Enhanced-SR transparent.png">
    <img src="/assets/diagrams/mechanism overview diagram.png">
</div>