<ts-embed src="/scripts/searchbar.ts" />

<css-embed href="/styles/searchbar.css" />

<search id="searchbar" class="header-rightside-button">
    <input id="header-search-field" type="search" placeholder="Search... (Ctrl + Shift + F)" autocomplete="off" />
    <button id="search-button" type="submit">🔍</button>
    <dialog id="search-dialog">
        <div class="main-search-field-container">
            <div class="search-icon">🔍</div>
            <input id="main-search-field" type="search" placeholder="Search for a page..." autocomplete="off" />
        </div>
        <div class="search-results-container">
            <div class="tooltips">
                <div class="navigation-tips">
                    <div>
                        Use <kbd>↑</kbd>, <kbd>↓</kbd>, and <kbd>Enter</kbd> to navigate the results.
                    </div>
                </div>
                <div class="query-stats">
                    Querying took <span id="query-time">0</span>ms.
                    Redrawing took <span id="redraw-time">0</span>ms.
                </div>
            </div>
            <div id="search-results" class="require-scrollbar">
                <template id="search-result-template">
                    <a id="search-result">
                        <div class="result-leftside">
                            <div id="result-title"></div>
                            <div id="result-path"></div>
                        </div>
                        <div class="result-divider"></div>
                        <div class="result-rightside">
                            <div id="result-content"></div>
                        </div>
                    </a>
                </template>
                <template id="search-results-end-template">
                    <fieldset class="search-results-end">
                        <legend>There's nothing more to see here 🙈</legend>
                    </fieldset>
                </template>
                <template id="prefix-tips-template">
                    <div class="prefix-tips">
                        <div>Tips:</div>
                        <ul>
                            <li> Prefix query with <kbd>:</kbd> to only search for content </li>
                            <li> Prefix query with <kbd>!</kbd> to only search for titles </li>
                        </ul>
                    </div>
                </template>
            </div>
        </div>
    </dialog>
</search>