<ts-post-population src="/lib/template-scripts/nameTitleCard.ts" />
<js-embed src="/scripts/title-card.js" />
<css-embed href="/styles/title-card.css" />

<div class="background-box">
    <div class="pattern"></div>
</div>
<div class="card-title use-parallax" id="title-name"></div>
<div class="card-title use-parallax" id="title-name-shadow"></div>
<div class="card-title use-parallax" id="title-name-box"></div>
<div id="sticker-container">
    <img class="use-parallax" id="blue-pills" src="/assets/stickers/blue pills-Enhanced-SR.png">
    <img class="use-parallax" id="colourful-pills" src="/assets/stickers/colourful pills-Enhanced-SR.png">
    <img class="use-parallax" id="hold-pills" src="/assets/stickers/hold pills-Enhanced-SR.png">
    <img class="use-parallax" id="orange-pills" src="/assets/stickers/orange pills-Enhanced-SR.png">
    <img class="use-parallax" id="globe" src="/assets/stickers/globe-Enhanced-SR.png">
    <img class="use-parallax" id="gurney" src="/assets/stickers/gurney-Enhanced-SR.png">
</div>