<ts-post-population src="/lib/template-scripts/nameTitleCard.ts" />
<css-embed href="/styles/title-card.css" />

<div class="background-box">
    <div class="pattern"></div>
</div>
<div class="title-name">
    <span id="title-name"> Title Name </span>
</div>
<div class="stickers">
    <img id="blue-pills" src="/assets/stickers/blue pills-Enhanced-SR.png">
    <img id="colourful-pills" src="/assets/stickers/colourful pills-Enhanced-SR.png">
    <img id="hold-pills" src="/assets/stickers/hold pills-Enhanced-SR.png">
    <img id="orange-pills" src="/assets/stickers/orange pills-Enhanced-SR.png">
    <img id="globe" src="/assets/stickers/globe-Enhanced-SR.png">
    <img id="gurney" src="/assets/stickers/gurney-Enhanced-SR.png">
</div>