painted-content {

    img {
        height: var(--image-height);
        overflow: hidden;
        object-fit: cover;
    }

    section:has(h1#affiliations, h1#sponsors) {
        --image-height: 5rem;

        & img {
            border-radius: 0;
        }
    }

    section:has(h1#interviewees) {
        --image-height: 15rem;

        & img {
            aspect-ratio: 3/4;
        }
    }
}