.catalogue {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.catalogue-item>a {
    color: var(--desaturated-orange);
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0 0 1rem var(--white);
}

.catalogue-item.catalogue-item-active>a {
    color: var(--saturated-orange);
    text-decoration: underline;
    font-weight: 700;
}

.catalogue-divider,
.catalogue-arrow {
    color: var(--desaturated-orange);
    font-weight: 500;
}

.catalogue-divider:last-child {
    display: none;
}