painted-content {
    & blockquote:has(img) {
        background: none;
        border: none;
        margin: 0;
        padding: 0;

        & p {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, auto));
            gap: 0.5rem;
            justify-content: center;
            justify-items: center;
            max-width: 100%;

            &>img {
                height: 18rem;
                object-fit: cover;
            }
        }
    }
}