painted-footer {
    justify-self: flex-end;
    --footer-background-color: var(--bright-brown);
    background-color: #FCFCF7;
    z-index: 1;
    margin-top: auto;

    &>footer {
        --footer-persistent-height: 2rem;
        
        &>* {
            padding-left: 1rem;
            padding-right: 1rem;
            box-sizing: border-box;
        }

        &>.footer-banner {
            padding-top: 2rem;
            border-top: 2px solid #404231;
            width: 100%;
            height: 11rem;
            display: flex;
           
            padding-bottom: 0.5rem;
            margin-bottom: var(--footer-persistent-height);
            align-items: center;
            overflow: hidden;

            &>div {
                height: 100%;
            }

            & img {
                height: 100%;
                width: auto;
            }

            &>.resisense {
                display: flex;
                

                &>.resisense-logo-aside {
                    margin-left: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 1rem;
                    position:relative;
                    color: #404231;

                    &>.resisense-logo {
                        height: 50%;
                        width: auto;
                        margin-bottom: 0.5rem;
                    }

                    &>.socials {
                        gap: 0.5rem;
                        font-size: 1rem;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        left: 7%;
                        &>.social {
                            width: fit-content;

                            &>a {
                                line-height: 1rem;
                                display: flex;
                                align-items: center;
                                gap: 0.2rem;
                                width: fit-content;
                                padding-right: 1rem;

                                &>img {
                                    max-width: 1rem;
                                }
                            }
                        }
                    }
                }
            }

            & .divider {
                margin: 0 6rem 0 4rem ;
                border-left: 2px solid #404231 ;
            }

            &>.logo-container-wrapper {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: 50% 50%;
                gap: 0.2rem;

                &>.cuhk-department-logo-container,
                &>.sponsor-logo-container {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;

                    &>a {
                        height: 100%;

                        &>img {
                            width: auto;
                            height: 50%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }

        &>.footer-persistent {
            background-color: #FCFCF7 ;
            position: fixed;
            bottom: 0;
            display: flex;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            height: var(--footer-persistent-height);
            width: 100%;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            &>div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                &>span>a {
                    height: 100%;

                    &>img {
                        vertical-align: middle;
                        height: 20px;
                        aspect-ratio: 1/1;
                        object-fit: contain;
                    }
                }

                &.license-container a {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }
}