:root {
    --header-height: 6rem;
    --padding-size: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                               Header Styling                               */
/* -------------------------------------------------------------------------- */

header {
    position: fixed;
    width: 100vw;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-spacer {
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
}

.header-shelf {
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.header-items-container {
    height: calc(var(--header-height) * 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bright-brown);
    width: calc(100% - var(--padding-size));
    padding-right: var(--padding-size);

    box-shadow: var(--bright-brown) calc(var(--header-height) * -1) 0px 0px 0px;
}

/* -------------------------------------------------------------------------- */
/*                                    Logo                                    */
/* -------------------------------------------------------------------------- */

.logo-container {
    height: calc(var(--header-height) - var(--padding-size) * 4);
    aspect-ratio: 1;
    padding: calc(var(--padding-size) * 2);
    background-color: var(--bright-brown);
    border-radius: 0 0 50% 50%;
}

.logo {
    position: relative;
    height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                 Header Left                                */
/* -------------------------------------------------------------------------- */

.header-leftside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.4rem;
}

.logo-name-text {
    height: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--deep-green);
}

.logo-name-text>a {
    color: var(--deep-green);
    text-decoration: none;
}

.logo-flavour-text {
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--pale-brown);
    text-indent: 1rem;
}


/* -------------------------------------------------------------------------- */
/*                                Header Right                                */
/* -------------------------------------------------------------------------- */

.header-rightside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

/* -------------------------------------------------------------------------- */
/*                              Header Catalogue                              */
/* -------------------------------------------------------------------------- */

.header-catalogue-container {
    width: calc(100% - var(--padding-size) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--padding-size);
    padding-right: var(--padding-size);
}