painted-content {
    blockquote {

        h3,
        .scroll-marker[data-scroll-marker-level="H3"] {
            --this-top: 7rem;
        }

        h4,
        .scroll-marker[data-scroll-marker-level="H4"] {
            font-size: 1.17rem;
            --this-top: 9.5rem;
        }

        h5,
        .scroll-marker[data-scroll-marker-level="H5"] {
            --this-top: 11rem;
        }

        h6,
        .scroll-marker[data-scroll-marker-level="H6"] {
            --this-top: 12.4rem;
        }
    }
}

.human-card {
    --human-card-background: var(--bright-brown);
    --border-radius: 1rem;
    --grid-left-percent: 15%;
    --grid-right-percent: 85%;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: grid;
    grid-template-columns: var(--grid-left-percent) var(--grid-right-percent);
    position: relative;
    height: 100%;

    &>img {
        --human-outline-width: 0.15rem;
        --human-outline-colour: white;
        max-width: 10rem;
        aspect-ratio: 3/4;
        overflow: hidden;
        object-fit: cover;
        border-radius: 0;
        z-index: 1;
        filter: drop-shadow(var(--human-outline-width) 0 0 var(--human-outline-colour)) drop-shadow(calc(var(--human-outline-width) * -1) 0 0 var(--human-outline-colour)) drop-shadow(0 var(--human-outline-width) 0 var(--human-outline-colour)) drop-shadow(0 calc(var(--human-outline-width) * -1) 0 var(--human-outline-colour));
    }

    &>.human-card-box {
        background-color: var(--human-card-background);
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: end;
        border-radius: var(--border-radius);
        width: 100%;

        &>.human-card-text-container {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            margin: 0;
            width: var(--grid-right-percent);

            &>h3 {
                --background-colour: transparent;
            }

            &>p {
                margin: 0;
                padding: 0;
            }
        }
    }
}