.paragraph-container {
    & img {
        margin: 2rem 0;
    }
    & p {
        font-size: 17px;
        font-weight: 500;
    }
    & a{
        text-decoration: none;
    }
    
    &>.page-subtitle {
        margin: 2rem 0;
        font-weight: 600;
        font-size: 2rem;
    }
}
.reference-list {
    list-style-type: none;
    padding: 0;
}
.reference-list li {
    margin-bottom: 10px;
}
.reference-title {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}